@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font-family: sans-serif;
  color: white;
  background-color: #6ab8cc
}

.header-container {
  background-color: #2bba99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  margin: 0px;
  font-family: 'Cedarville Cursive', cursive;
}

.all-burgers-container {
  display: flex;
  flex-wrap: wrap;
}

.single-burger-container {
  position: relative;
  background-color: #2bba99;
  width: 150px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0px 20px 40px 20px;
}

.add-burger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  cursor: pointer;
}

.burger-items-container{
  height: 180px;
  overflow: scroll;
}

.burger-name {
  font-size: 14pt;
  font-weight: bold;
}

.burger-item {
  margin: 3px 0px;
}

.toppings-list {
  margin: 3px;
  padding-left: 20px;
}

.burger-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom:7px;
  margin-right:7px;
}

.btn {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 0px;
  border-radius: 0px;
  margin: 0px 2px;
}

.toppings-filter-container {
  display: flex;
  margin: 20px;
}

.topping-option {
  margin-right: 20px;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px;
  cursor: pointer;
}

.active-topping-option {
  background-color: #2bba99;
}
